.location-page-card > .card {
    overflow: visible !important;
}

.location-page-card > .page-card .card-body:first-child {
    padding-bottom: 0;
}

.location-carousel {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: -40px;
    padding: 16px 0 16px 24px;
    transform: translate3d(0,0,0);
    height: 240px;
}

.location-flex-container {
    display: flex;
}

.location-carousel-container {
    overflow-y: hidden;
}

.location-float-container {
    transform: translate3d(0,0,0);
    margin: 0 -8px;
}

.location-card {
    border-radius: 5px;
    width: 230px;
    margin-right: 16px;
    flex-shrink: 0;
    transition:
            box-shadow 0.2s ease-out,
            transform 0.1s ease-out;
    outline: none;
}

.location-card-selected {
    transform: scale(1.03);
}

.location-card > p {
    margin: 0.5rem !important;
}

.location-image-container {
    width: 100%;
    height: 130px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.location-image-container > img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
}

.location-selected {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #acc35b;
}

.time-card {
    width: 110px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-right: 1rem;
}

.time-card p {
    margin: 0 !important;
    padding: 0;
}

p.time-day {
    font-size: 14px !important;
}

.times-container {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}

.campus-information {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.campus-address > p {
    margin: 0 !important;
}

.time-change {
    max-width: 468px;
    margin: 1rem auto;
    box-shadow:
            rgba(9, 30, 66, 0.08) 0 0 0 1px,
            rgba(9, 30, 66, 0.08) 0 2px 1px,
            rgba(9, 30, 66, 0.31) 0 0 20px -6px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
}

.time-change img {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 166px;
    object-fit: cover;
}

.time-change p {
    text-align: left;
}

.time-change .stack-item {
    max-width: 95%;
}

.location-preview {
    width: 150px;
    position: absolute;
    z-index: 100;
    background: #FF5D73;
    transform: rotate(-45deg);
    top: 30px;
    left: -30px;
    padding: 4px 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
